@model IEnumerable<ECommerce.Models.Product>

@{
    ViewBag.Title = "Products";
}

    <h2>Products</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class="btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tax.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Category.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tax.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BarCode)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @if (!string.IsNullOrEmpty(item.Image))
        {
            <img src="@Url.Content(item.Image)" alt="Logo" style="width:100px;height:150px;max-width: 100%; height: auto;" />
        }
    </td>
    <td align="right">
        @Html.DisplayFor(modelItem => item.Stock)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
    </td>
</tr>
}

</table>
