@model ECommerce.Models.NewOrderView

@{
    ViewBag.Title = "New Order";
}

<h2>New</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Order</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-6">

            <div class="form-group">
                @Html.LabelFor(model => model.CustomerID, "CustomerID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CustomerID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save Order" class="btn btn-primary" />
                    @Html.ActionLink("Add product", "AddProduct", new { }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Back to orders", "Index", new { }, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    </div>
</div>
}

<h4>Order</h4>
<hr />
@if(Model.Details.Count == 0)
{
    <h5>No details added to the order yet</h5>
}
else
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Details[0].Product.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details[0].Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details[0].TaxRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details[0].Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details[0].Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details[0].Value)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Details)
    {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(item.Product.Image))
                {
                    <img src="@Url.Content(item.Product.Image)" alt="Logo" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td align="right">
                @Html.DisplayFor(modelItem => item.TaxRate)
            </td>
            <td align="right">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td align="right">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td align="right">
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td align="right">
                @Html.ActionLink("Delete", "DeleteProduct", new { id = item.ProductID }, new { @class = "btn btn-danger", onclick="return confirm('Are you sure?')" })
            </td>
        </tr>
    }
    <tr>
        <td colspan="4" align="right">
            <strong>Total</strong>
        </td>
        <td align="right">
            <strong>@Html.DisplayFor(modelItem => Model.TotalQuantity)</strong>
        </td>
        <td align="right">
            <strong>@Html.DisplayFor(modelItem => Model.TotalValue)</strong>
        </td>
    </tr>
</table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}